/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"); */

.body1 {
  display: grid;
  height: auto;
  place-items: center;
  background: #3ca9e2;
  padding: 30px;
}
::selection {
  background: rgba(23, 162, 184, 0.3);
}
.wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.wrapper .box {
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

.wrapper .box i.quote {
  font-size: 20px;
  color: #3ca9e2;
}
.wrapper .box .content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.name {
  margin-top: 25px;
}
.box .info .name {
  font-weight: 600;
  font-size: 17px;
}
@media (max-width: 1045px) {
  .wrapper .box {
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box {
    width: 100%;
  }
}
