.HeaderText {
  text-align: center;
  font-size: 2rem;
  margin-top: 20px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-item: center;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  justify-self: center;
  content: normal;
}

.Ht {
  margin-top: 100px;
}

.mycard-Learn {
  /* border: 2px solid green; */
  width: 300px;
}

.styles__card-content___1YN-b {
  overflow: hidden;
}
